<script setup></script>
<template>
    <button class="m-0 flex h-full w-full items-center justify-center overflow-hidden rounded-[inherit] border-inherit bg-inherit ring-inherit">
        <div class="block p-[inherit] px-[inherit] py-[inherit]">
            <slot>Button text</slot>
        </div>
    </button>
</template>