<template>
    <div class="mt-16 w-[327px] h-[284px] text-center details md:w-[573px] md:mx-20 lg:mx-80">
        <h5 class="uppercase text-light-green font-black tracking-[4px]">Built for modern use</h5>
        <h2 class=" mt-6 text-[32px] font-black text-deep-grey md:text-[40px]">Smarter meetings, all in one place</h2>
        <p class="mt-8 font-medium text-base text-light-grey">Send messages, share files, show your screen, and record your
            meetings — all in one
            workspace. Control who can join with invite-only team access, data encryption, and data export.
        </p>
    </div>
</template>
<style scoped>
/* Animations */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
    .details {
        animation: slideInFromBottom 1s ease-in;
    }
</style>