<script setup>
import ButtonComponent from './reusables/ButtonComponent.vue';
</script>
<template>
    <div class="footer mt-44 relative grid place-content-center">
        <div class="absolute grid place-content-center mx-32 -mt-28 z-50 md:mx-[360px] lg:mx-[600px]">
            <div class=" h-[84px] w-[1px] border border-lighter-grey place-self-center"></div>
            <div class="w-14 h-14 rounded-[29px] bg-white border border-lighter-grey flex items-center justify-center">
                <h3 class=" font-black text-light-grey">02</h3>
            </div>
        </div>
        <div
            class="relative h-[428px] w-[400px] mb-1 overflow-hidden bg-[url('../assets/mobile/image-footer.jpg')] bg-cover bg-no-repeat md:w-[775px] lg:w-[1200px]">
            <div
                class="absolute z-0 inset-0 h-full bg-light-green opacity-90 text-center flex flex-col items-center justify-center lg:flex-row lg:text-left">

                <h4 class=" text-white font-black mt-[92px] text-[32px] lg:w-[350px] lg:mt-0">Experience more together</h4>
                <p class="text-white font-medium text-lg w-[340px] ml-7 mt-6 lg:w-[350px] lg:ml-0 lg:mr-14">Stay connected with reliable HD meetings and
                    unlimited one-on-one and group video sessions.
                </p>
                <div class="h-[58px] w-[193px] rounded-[29px] my-8 bg-purple hover:-translate-y-2 hover:scale-110 hover:bg-hover-second">
                    <ButtonComponent class="font-black text-white text-base">Download <span
                            class=" text-sky-blue">v1.3</span></ButtonComponent>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>
.footer {
    animation: slideInFromBottom 2s ease-in;
}

/* Animations */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
</style>