<script setup></script>
<template>
    <div class="mt-20">
        <div class="grid place-content-center">
            <div class=" h-[84px] w-[1px] border border-lighter-grey place-self-center"></div>
            <div class="w-14 h-14 rounded-[29px] bg-white border border-lighter-grey flex items-center justify-center">
                <h3 class=" font-black text-light-grey">01</h3>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-6 mt-16 w-[327px] md:w-[689px] md:grid-cols-4 md:mx-5 lg:w-[1110px] lg:mx-10">
            <div
                class="relative bg-[url('../assets/desktop/image-woman-in-videocall.jpg')] bg-cover bg-no-repeat w-[151px] h-[143px] rounded-lg md:w-[164px] md:h-[156px] lg:w-[255px] lg:h-[242px] leftImg">
                <div class="absolute inset-0 z-0 h-full bg-white opacity-10"></div>
            </div>
            <div
                class="relative bg-[url('../assets/desktop/image-women-videochatting.jpg')] bg-cover bg-no-repeat w-[151px] h-[143px] rounded-lg md:w-[164px] md:h-[156px] lg:w-[255px] lg:h-[242px] leftImg">
                <div class="absolute inset-0 z-0 h-full bg-white opacity-10"></div>
            </div>
            <div
                class="relative bg-[url('../assets/desktop/image-men-in-meeting.jpg')] bg-cover bg-no-repeat w-[151px] h-[143px] rounded-lg md:w-[164px] md:h-[156px] lg:w-[255px] lg:h-[242px] rightImg">
                <div class="absolute inset-0 z-0 h-full bg-white opacity-10"></div>
            </div>
            <div
                class="relative bg-[url('../assets/desktop/image-man-texting.jpg')] bg-cover bg-no-repeat w-[151px] h-[143px] rounded-lg md:w-[164px] md:h-[156px] lg:w-[255px] lg:h-[242px] rightImg">
                <div class="absolute inset-0 z-0 h-full bg-white opacity-10"></div>
            </div>
        </div>
    </div>
</template>
<style scoped>
/* Animations */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


    .rightImg {
        animation: slideInFromRight 2s ease-in
    }

    .leftImg {
        animation: slideInFromLeft 2s ease-in;
    }

</style>