<script setup>
import ButtonComponent from './reusables/ButtonComponent.vue';
</script>
<template>
    <div class="flex flex-col justify-center items-center">
        <div class="grid place-content-center lg:mt-20">
            <img src="../assets/logo.svg" alt="logo" class=" animate-bounce duration-130">
        </div>
        <div class=" lg:flex lg:flex-row lg:gap-10">
            <div class="w-[380px] h-[153px] mt-[54px] md:w-[820px] md:h-[303px] lg:hidden">
                <img src="../assets/tablet/image-hero.png" alt="hero-image" class="heroMobile">
            </div>
            <div class="hidden lg:block lg:w-[330px] lg:h-[153px]" >
                <img src="../assets/desktop/image-hero-left.png" alt="" class="leftImg">
            </div>
            <div class="flex flex-col justify-center items-center mt-12 heroMobile">
                <h2 class="w-[285px] text-center text-[40px] font-black text-deep-grey md:w-[339px] md:text-5xl lg:text-6xl lg:w-[430px]">Group Chat
                    for Everyone
                </h2>
                <p class="mt-6 w-[327px] text-center text-base font-medium text-light-grey md:w-[457px]">Meet makes it easy
                    to connect with
                    others face-to-face virtually and collaborate across any device.</p>
                <div class="flex flex-col items-center gap-y-3 mt-8 md:flex-row md:gap-x-4">
                    <div class="h-[58px] w-[193px] rounded-[29px] bg-light-green hover:-translate-y-2 hover:scale-110 hover:bg-hover-first">
                        <ButtonComponent class="font-black text-white text-base"> Download <span
                                class=" text-sky-blue">v1.3</span> </ButtonComponent>
                    </div>
                    <div class="h-[58px] w-[139px] rounded-[29px] bg-purple hover:translate-y-2 hover:scale-110 lg:hover:-translate-y-2 hover:bg-hover-second">
                        <ButtonComponent class="font-black text-white text-base">What is it?</ButtonComponent>
                    </div>
                </div>
            </div>
            <div class="hidden lg:block lg:w-[330px] lg:h-[153px]">
                <img src="../assets/desktop/image-hero-right.png" alt="" class="rightImg">
            </div>
        </div>

    </div>
</template>
<style scoped>
.heroMobile {
    animation: slideInFromBottom 1s ease-in;
}

.leftImg {
    animation: slideInFromLeft 2s ease-in;
}

.rightImg {
    animation: slideInFromRight 2s ease-in;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Animations */
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}
</style>