<script setup>
import AppHeader from './components/AppHeader.vue';
import AppHero from './components/AppHero.vue';
import AppDetails from './components/AppDetails.vue';
import AppFooter from './components/AppFooter.vue';
</script>

<template>
  <div class=" font-RedHatDisplay">
    <AppHeader />
    <AppHero />
    <AppDetails />
    <AppFooter />
      <!-- <div class="bg-black text-white md:text-light-green lg:text-light-purple">mobile</div> -->
      <!-- <div class="bg-black text-white md:text-light-green lg:text-light-purple">mobile</div> -->
  </div>

</template>

<style scoped>

</style>
